.h1{
    font-size: 60px;
    font-family: 'Space Grotesk';
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
}

.h2{
    font-size: 28px;
    font-family: 'Space Grotesk';
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 30px;
}

.stApp > header {
   background-color: transparent;
}

body {{
    background-image: ("{Agriculture.jpg}");
    background-size: cover;  /* Cover the entire page */
    background-position: center center;  /* Center the background image */
    background-repeat: no-repeat;  /* Prevent the image from repeating */
    color: white;  /* Ensure all text is white */
    font-family: Arial, sans-serif;
}

 .welcome-title {
        font-size: 48px;  /* Increased font size */
        font-weight: bold;
        color: white;  /* White color */
        text-align: center;  /* Center-align the text */
    }

.intro-text {
        font-size: 24px;
        color: white; 
        text-align: center;  
    }

